
    <head>
        <meta charset="utf-8">
        <title> Go 4 Food</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link src="assets/Images/Go 4 Food.png" rel="icon">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
         
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
      
        <link scr="assets/Animation/animate.min.css" rel="stylesheet">
        <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
        <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
          
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        <style>
        .background-image {
            background-image: url('assets/Images/bg image4.jpg'); 
            background-size: cover; 
            background-position: center ; 
            height: 600px; 
}
</style>
    </head>



<body>
    <div class="background-image"><br/><br/><br/><br/><br/><br/><br/>

    <div class="card text-center bg-dark" style="width: 400px; margin-left: 460px;">
        <div class="card-header h5 text-white ">Password Reset</div>
        <div class="card-body px-5">

            <div class="form-outline">
                <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
                    <input type="password" formControlName="password" class="form-control my-3" placeholder="Password">
                    <input type="password" formControlName="passwordConfirmation" class="form-control my-3" placeholder="Confirm Password">
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                    <div *ngIf="passwordForm.hasError('passwordsDoNotMatch')">
                        Passwords do not match.
                      </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</body>